@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var template = "<div class='settings e-list-wrapper e-list-multi-line e-list-avatar'>"                                              
                       + "<span class='e-list-item-header'>${text}</span>"
                       + "<span class='e-list-content float-end'>${value}€</span>"
                       + "</div>";
}
@{
    var groupTemplate = "<div class='e-list-wrapper'><span class='e-list-item-content'>${items[0].type}</span></div>";
}

<div class="d-inline">
    <div id="control-section">
        <ejs-listview id="listviewgrp" dataSource="ViewBag.groupData" groupTemplate=@groupTemplate template=@template
                      showHeader="true" headerTitle="Gastos RYC">
            <e-listview-fieldsettings groupBy="type">

            </e-listview-fieldsettings>
        </ejs-listview>
        <style>
            #listviewgrp {
                width: 300px;            
            }
        </style>
    </div>

    <div id="ControlRegion">
        <ejs-grid id="DataGrid" dataSource="ViewBag.dataSource"
                  allowPaging="true" allowSorting="true"
                  allowResizing="true" allowFiltering="true"
                  allowGrouping="true" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel","Search" })">
            <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
            <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
            <e-grid-filterSettings type="Menu"></e-grid-filterSettings>
            <e-grid-selectionsettings type="Multiple"></e-grid-selectionsettings>            
            <e-grid-columns>
                <e-grid-column field="id" validationRules="@(new { required=true})" headerText="ID" minWidth="120" width="200" maxWidth="300" textAlign="Right"></e-grid-column>
                <e-grid-column field="date" headerText="Fecha" editType="datepickeredit" validationRules="@(new { required=true})" textAlign="Right" format="yMd" minWidth="8" width="200"></e-grid-column>
                <e-grid-column field="account.id" headerText="Cuenta" foreignKeyField="id" foreignKeyValue='description' datasource=ViewBag.cbAccount editType="dropdownedit" validationRules="@(new { required=true})" minWidth="8" width="200"></e-grid-column>
                <e-grid-column field="person.id" headerText="Persona" foreignKeyField="id" foreignKeyValue='name' editType="dropdownedit" datasource=ViewBag.cbPerson allowResizing="true" width="150" minWidth="8"></e-grid-column>
                <e-grid-column field="category.id" headerText="Categoria" foreignKeyField="id" foreignKeyValue='description' datasource=ViewBag.cbCategory editType="dropdownedit" minWidth="8" validationRules="@(new { required=true})" width="300"></e-grid-column>
                <e-grid-column field="amount" headerText="Importe" textAlign="Right" allowResizing="true" validationRules="@(new { required=true})" editType="numericedit" width="200"></e-grid-column>
                <e-grid-column field="balance" headerText="Saldo" minWidth="8" width="200"></e-grid-column>               
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

